*
{
	font-family:Arial;
}
h*
{
	font-weight: bold;
}
h2,h3,h4,h5
{
	color:blue;
	text-decoration: underline;
}
h1
{
	color:black;
	font-size:xx-large;
	text-align:center;
	border: 3px black groove;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 6px 6px 0px black ;
}
h2
{
	color:blue;
	font-size:x-large;
}
h3{
	font-size:large;
}
h4{
	font-size:medium;
}
p
{
	text-align:justify:
	font-size:medium;
}
#picture {
	float:left;
	width:440px;	
}
.dessous
{
    clear: both;
}
#visu {
	float:left;
	width:440;
}
.dessous1
{
    clear: both;
}
#map {
	float:left;
	width:550;
}
.dessous2
{
	clear: both;
}	
nav
{
	font-size:x-large;
	text-align:center;
	border: 3px black groove;
	border-radius: 10px 10px 10px 10px;
}
section
{
	text-align:justify;
	border: 3px black groove;
	border-radius: 10px 10px 10px 10px;
}
